<section class="section">
        <div class="container">

           <div id="headflex">

            <div>
              <h1>RunLog</h1>
            </div>

            <div id="chrisNav">

              <div id="navitem"> Welcome {{!-- ??? --}} {{{this.user}}} </div>

              <div> | </div>

              <div id="navitem"> <a href=""> Logout </a> </div>

            </div>
          </div>
          
        </div>
    </section>


<section class="section">
  <div class="container">
    <div id='calendar'></div>
  </div>  
</section>

<script type="text/javascript">
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
            left:   'title',
            center: '',
            right:  'listWeek listMonth basicDay,basicWeek,month prev,next'
              },
              events: [
                {
                    title: '10 miles',
                    start: '2017-11-05',
                    backgroundColor: 'gold'
                }, {
                  title: '5 miles',
                  start: '2017-11-06',
                }, {
                  title: '3 miles',
                  start: '2017-11-07',
                }, {
                  title: '4 miles',
                  start: '2017-11-08',
                }, {
                  title: '6 miles',
                  start: '2017-11-09',
                }, {
                  title: '3 miles',
                  start: '2017-11-10',
                }, {
                  title: '5 miles',
                  start: '2017-11-11',
                }

              ]
                
            });

        });
    </script>