<section class="section">
  <div class="container">
        
    <div > 

      <h1 >
        RunLog
      </h1>

    </div>
    
  </div>
</section>


<section class="section">
  <div class="container">
    <div id='calendar'></div>
  </div>  
</section>

<script type="text/javascript">
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                    left:   'title',
                    center: '',
                    right:  'listWeek listMonth basicDay,basicWeek,month prev,next'
                }
                
            });

        });
    </script>