<section class="section">
    <div class="container">

       <div id="headflex">

        <div>
          <h1 id="calTitle">RunLog</h1>
        </div>

        <div id="chrisNav">
          <div id="navitem"> <a href="/login"> Logout </a> </div>
        </div>

      </div>

    </div>
</section>

<section class="section">
  <div class="container">
    <button><a href="/logrun"> Log a run</a></button>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id='calendar'></div>
  </div>
</section>

<script type="text/javascript">
  var events = [];

  $(document).ready(function() {

      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
          // put your options and callbacks here
          header: {
            left:   'title',
            center: '',
            right:  'listWeek listMonth basicDay,basicWeek,month prev,next'

          },
          events: events

      });


  });
</script>
