
<!-- {{!-- <h1>Create layout here</h1> --}} -->

<section class="hero is-light is-fullheight splash-page">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4-desktop is-offset-4-desktop">
        <!-- <div class='box'> -->

          <!-- code -->

            {{!-- <section class="section banner"> --}}
                <div class="container">

                    <!-- <div> -->

                        <div class="space" id="myTitle">
                            RunLog
                        </div>

                    <!-- </div> -->

                    <p class="subtitle goldest  ">
                        Create an account and get logging with RunLog!
                    </p>

                </div>
            {{!-- </section> --}}


            <!-- form -->

            <div id="content">

                <section class="section myForm">
                    <!-- <div class="container"> -->

                        <div class="field">
                            <label class="label golder">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Name" id="registerName">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label golder">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Username" id="registerUserName">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span class="icon is-small is-right">
                                </span>
                            </div>

                        </div>

                        <div class="field">

                            <label class="label golder">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email input" value="" id="registerEmail">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label golder">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="password" placeholder="must be at least 8 characters" value="" id="registerPassword">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-cog"></i>
                                </span>
                                <span class="icon is-small is-right">
                                </span>
                            </div>

                        </div>                        

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" id="registerButton">Submit</button>
                            </div>
                            
                            <div class="control golder">
                                <a href="/"><button class="button is-light">Cancel</button></a>
                            </div>
                        </div>
                        
                    <!-- </div> -->
                </section>
            </div>

          <!-- code -->

        <!-- </div> -->

      </div>
    </div>
  </div>
</section>




