{{!-- <h1>Create layout here</h1> --}}

<div class="section">
  <div class="container">
    <div class="columns is-10 is-offset-2">
      <div class="column is-12">
        <form>
          <div class="field">
            <div class="control">
              <label for="inputUsername">Username</label>
              <input type="text" id="inputUsername" class="input is-medium is-12" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label for="inputPassword">Password</label>
              <input type="password" id="inputPassword" class="input is-medium is-12"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
