<<<<<<< HEAD
{{!-- <h1>Create layout here</h1> --}}

<section class="hero is-light is-fullheight splash-page">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4-desktop is-offset-4-desktop">
        <div class='box'>
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <hr />
          <form>
            <div class="field">
              <div class="control">
                <label for="inputUsername">Username
                  <input type="text" id="loginUsername" class="input is-large" placeholder="your email or username"/>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="inputPassword">Password
                  <input type="password" id="loginPassword" class="input is-large" placeholder="your password"/>
                </label>
              </div>
            </div>
            <div class='field'>
              <label class='checkbox'>
                <input type="checkbox" id="rememberCheckbox"/>
                Remember me
              </label>
            </div>
            <a class='button is-block is-info is-large' id='loginButton'>Login</a>
          </form>
          <hr />
          <p class="has-text-grey">
            <a href='../'>Sign Up</a>&nbsp; . &nbsp;
            <a href='../'>Forgot Password</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
=======
<section class="section">
  <div class="container">
    <h1 class="title">
      RunLog
    </h1>
    <p class="subtitle">
      Create an account and get logging with <strong>RunLog</strong>!
    </p>
  </div>
</section>

<!-- form -->

<section class="section">
   <div class="container">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Name">
        </div>
      </div>

      <div class="field">

        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Username">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <!-- <i class="fa fa-check"></i> -->
          </span>
        </div>

        <!-- =============================================== -->
        <!-- HIDE/SHOW CONDITIONALLY BY CHECKING DATABASE?? -->
        <!-- ======================================================= -->
        <!-- <p class="help is-success">This username is available</p> -->

      </div>

      <div class="field">

        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email input" value="">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <!-- <i class="fa fa-warning"></i> -->
          </span>
        </div>

        <!-- =============================================== -->
        <!-- HIDE/SHOW CONDITIONALLY BY CHECKING DATABASE?? -->
        <!-- ======================================================= -->
        <!-- <p class="help is-danger">This email is invalid</p> -->

      </div>

      <div class="field">

        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="1 upper case, 1 lowercase, 1 symbol" value="">
          <span class="icon is-small is-left">
            <i class="fa fa-cog"></i>
          </span>
          <span class="icon is-small is-right">
            <!-- <i class="fa fa-warning"></i> -->
          </span>
        </div>
        
        <!-- =============================================== -->
        <!-- HIDE/SHOW CONDITIONALLY BY CHECKING REGULAR EXPRESSION? -->
        <!-- ======================================================= -->
        <!-- <p class="help is-danger">That password is not strong enough</p> -->
        
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="radio">
            <input type="radio" name="question">
            Yes
          </label>
          <label class="radio">
            <input type="radio" name="question">
            No
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
      
    </div>
  </section>>
>>>>>>> templates
