<section class="section">
    <div class="container">
          
      <div class="banner"> 

        <div class="space" id="yello">
          RunLog
        </div>

      </div>

      <p class="subtitle golder">
        <!-- {{{ subtitle }}} -->
        Tell me about your run.        
      </p>
      
    </div>
  </section>


<!-- form -->

  <section class="section myForm">
    <div class="container">
      
      <div class="field">
        <div class="control">
          <label class="label golder">
            How far did you run?
                      <input class="input" type="text" placeholder="Total Distance">

          </label>

        </div>
      </div>

      <div class="field">
        <label class="label golder">How long did it take you?</label>
        <div class="control">
          <input class="input" type="text" placeholder="Time">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="myColumn">

            <label class="label golder">How are you feeling?</label>
            
            <a class="button is-danger">Danger</a>
            <a class="button is-warning">Felt bad</a>
            <a class="button is-success">Felt OK/Off</a>
            <a class="button is-info">Felt Good</a>
            <a class="button is-link">Felt Great</a>            

            <br>

            <br>

            <textarea class="textarea" placeholder="Are you injured? Is there anything else I should know?"></textarea>

          </div>
        </div>
      </div>

      

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <button class="button is-light">Cancel</button>
        </div>
      </div>
    </div>
  </section>